{% extends "ui/base.html" %} {% block content %}

{% if user.is_authenticated %}
{% include 'chirps/create_chirp.html' %}
{% endif %}
<div>
  {% for chirp in chirps %}
  <article
  onclick="window.location.href = '{% url 'view-chirp' username=chirp.author id=chirp.id %}';"
    class="p-4 cursor-pointer hover:bg-neutral-200 dark:hover:bg-neutral-800 hover:bg-opacity-30 dark:hover:bg-opacity-30 transition-colors"
    x-data="{ date: dayjs('{{ chirp.date_chirped|date:'c' }}').fromNow() }" @click="console.log('hello world')">
    <div class="flex items-center gap-5 mb-2">
      <div class="flex gap-2">
        <a href="{% url 'profile' chirp.author %}" class="font-bold hover:underline">{{ chirp.author.first_name }} {{ chirp.author.last_name }}</a>
        <p class="opacity-80">@{{ chirp.author.username }}</p>
      </div>
      <i class="fa-solid fa-minus opacity-80"></i>
      <p x-text="date" class="opacity-80"></p>
    </div>
    <h1>{{ chirp.content }}</h1>
  </article>
  <hr />
  {% endfor %}
</div>

{% endblock content %}