{% extends "ui/base.html" %} {% block content %}
<div>
  {% for chirp in chirps %}
  <article
    class="p-4 cursor-pointer hover:bg-neutral-200 dark:hover:bg-neutral-800 hover:bg-opacity-30 dark:hover:bg-opacity-30 transition-colors"
    x-data="{ date: dayjs('{{ chirp.date_chirped|date:'c' }}').fromNow() }" @click="console.log('hello world')">
    <div class="flex gap-5 mb-2">
      <a href="{% url 'profile' chirp.author %}" class="font-bold hover:underline">{{ chirp.author }}</a>
      <p x-text="date" class="opacity-80"></p>
    </div>
    <h1>{{ chirp.content }}</h1>
  </article>
  <hr />
  {% endfor %}
</div>

{% endblock content %}